.note-form {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #ced4da;
    padding: 5rem;
    border-radius: 5px;
    border-color: aquamarine;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black;
    background: aquamarine;
  }
  